/target
figwheel_server.log
/resources/public/css/foundation.min.css
/resources/public/foundation-5.5.2
/resources/public/js/foundation.min.js
/resources/public/js/compiled
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
